In [ ]:
#4.1 Loop
pizzas=['ham','cheese','chicken','seafood']
for p in pizzas:
  print(f"I like {p}")
print("I really love pizzas! ")

I like ham
I like cheese
I like chicken
I like seafood
I really love pizzas!

In [ ]:
animals= ['pig','dog','cat','rabbit']
for a in animals:
  print(f"a {a} would make a great pet")
print("They are all great pet")

a pig would make a great pet
a dog would make a great pet
a cat would make a great pet
a rabbit would make a great pet
They are all great pet

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
list_of_million = list(range(1,1000001))
print(max(list_of_million))
print(min(list_of_million))
print(sum(list_of_million))

1000000
1
500000500000

In [ ]:
li=[]
for  i in range(1,21,2):
  li.append(i)
for j in li:
  print(j)

1
3
5
7
9
11
13
15
17
19

In [ ]:

li=[]
for i in range(3,31,3):
  li.append(i)
for i in li:
  print (i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
li=[]
for i in range(1,11):
  li.append(i*i*i)
for j in li:
  print(j)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
list_of_cube= [x*x*x  for x in range(1,11)]

In [ ]:
list_of_cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
li = ['a','b','c','d','e','f','g','h']
print("The first 3 letters are : "+ str(li[:3]))
print("The last 3 letters are : "+ str(li[-3:]))
print("The 4th to 6th items are : "+ str(li[3:6]))

The first 3 letters are : ['a', 'b', 'c']
The last 3 letters are : ['f', 'g', 'h']
The 4th to 6th items are : ['d', 'e', 'f']

In [ ]:
pizzas=['ham','cheese','chicken','seafood']
pizzas_copy=pizzas[:]
pizzas.insert(0,'pineapple')
pizzas_copy.insert(0,'mango')
print(pizzas)
print(pizzas_copy)#different copy

['pineapple', 'ham', 'cheese', 'chicken', 'seafood']
['mango', 'ham', 'cheese', 'chicken', 'seafood']

In [ ]:
buffet_food=('chicken','dimsum','sushi','sashimi') #tuple are just immutable list
for f in buffet_food:
  print(f)

chicken
dimsum
sushi
sashimi

In [ ]:
buffet_food[3]='pizza'

TypeError: 'tuple' object does not support item assignment

In [ ]:
buffet_food=('juice','fruit','sushi','sashimi') #tuple are just immutable list

In [ ]:
print(buffet_food)

('juice', 'fruit', 'sushi', 'sashimi')

In [ ]:
fruit = 'mango'
print (f"Predicted True |Actual: {'mango'==fruit}")
print (f"Predicted True |Actual: {3==3}")
print (f"Predicted False | Actual: {'Mango'==fruit}")
print (f"Predicted False | Actual: {3=='3'}")
print (f"Predicted True | Actual: {'AuDi'.lower()=='audi'}")

Predicted True |Actual: True
Predicted True |Actual: True
Predicted False | Actual: False
Predicted False | Actual: False
Predicted True | Actual: True

In [ ]:
print (f"Predicted True | Actual: {3==3.0}")
print (f"Predicted True | Actual: {3<=3.0}")
print (f"Predicted True | Actual: {3>=3.0}")
print (f"Predicted False | Actual: {3<3.0}")
print (f"Predicted False | Actual: {3>3.0}")

Predicted True | Actual: True
Predicted True | Actual: True
Predicted True | Actual: True
Predicted False | Actual: False
Predicted False | Actual: False

In [ ]:
print(3<2 and 4>5)
print(1==4 or 3>5)

False
False

In [ ]:
buffet_food=('juice','fruit','sushi','sashimi')
print('juice' in buffet_food)
print('beef' not in buffet_food)

True
True

In [ ]:
alien_color = 'green'
if alien_color=='green':
  print("You have won 5 pts")

You have won 5 pts

In [ ]:
alien_color = 'red'
if alien_color=='green':
  print("You have won 5 pts")

In [ ]:
alien_color = 'green'
if alien_color=='green':
  print("You have won 5 pts")
else:
  print("You won 10 pts")

You have won 5 pts

In [ ]:
alien_color = 'red'
if alien_color=='green':
  print("You have won 5 pts")
else:
  print("You won 10 pts")

You won 10 pts

In [ ]:
alien_color = 'green'
if alien_color=='green':
  print("You have won 5 pts")
elif alien_color =='red':
  print ("You have won 10 pts")
else:
  print("You won 20 pts")

You have won 5 pts

In [ ]:
alien_color = 'red'
if alien_color=='green':
  print("You have won 5 pts")
elif alien_color =='red':
  print ("You have won 10 pts")
else:
  print("You won 20 pts")

You have won 10 pts

In [ ]:
alien_color = 'yellow'
if alien_color=='green':
  print("You have won 5 pts")
elif alien_color =='red':
  print ("You have won 10 pts")
else:
  print("You won 20 pts")

You won 20 pts

In [ ]:
age=13
if age<2:
  print('baby')
elif age>=2 and age<4:
  print('toddler')
elif age>=4 and age<13:
  print('kid')
elif age>=13 and age<20:
  print('teenage')
elif age>=20 and age<65:
  print('adult')
elif age>=65:
  print('elder')

teenage

In [ ]:
fav_fruits=['banana','pears','cherry','berry']
if 'berry' in fav_fruits:
  print('You really like berry!')
if 'cherry' in fav_fruits:
  print('You really like cherry!')
if 'pears' in fav_fruits:
  print('You really like pears!')
if 'mango' in fav_fruits:
  print('You really like mango!')
if 'pineapple' in fav_fruits:
  print('You really like pineapple!')

You really like berry!
You really like cherry!
You really like pears!

In [ ]:
usernames=['edwin','june','admin','candy']
for i in usernames:
  if i =='admin':
    print(f'Hello {i}, do you want to view a report')
  else:
    print(f"Welcome back, {i}. Thank you for login")

Welcome back, edwin. Thank you for login
Welcome back, june. Thank you for login
Hello admin, do you want to view a report
Welcome back, candy. Thank you for login

In [ ]:
usernames=['edwin','june','admin','candy']
for i in range(4):
  del usernames[0]

if usernames: #check list empty
  for i in usernames:
    if i =='admin':
      print(f'Hello {i}, do you want to view a report')
    else:
      print(f"Welcome back, {i}. Thank you for login")
else:
  print("list empty")

list empty

In [ ]:
current_usernames= ['Jacky','John','derek','ivan','Celina']
user_inputs=['jacky','mena','Derek','fish']
current_usernames_lower=[]
for i in current_usernames:
  current_usernames_lower.append(i.lower())
print(f"currentusernames are {current_usernames_lower}")

for i in user_inputs:
  if i.lower() in current_usernames_lower:
    print("existed already")
  else:
    print(f"username {i} avaliable")

currentusernames are ['jacky', 'john', 'derek', 'ivan', 'celina']
existed already
username mena avaliable
existed already
username fish avaliable

In [ ]:
nums=[x for x in range(1,10)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in nums:
  if i == 1:
    print(f"{i}st")
  elif i == 2:
    print(f"{i}nd")
  elif i == 3:
    print(f"{i}rd")
  else:
    print(f"{i}th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th


## **Dictionary**

In [ ]:
employee_a = {
    "first_name":"Ivan",
    "last_name":"Chan",
    "age":26,
    "city":"HK",
}
print(employee_a['first_name'])
print(employee_a['last_name'])
print(employee_a['age'])
print(employee_a['city'])

Ivan
Chan
26
HK

In [ ]:
fav_nums={
    "ivan":2,
    "jack":3,
    "ken":5
}
for i in fav_nums:
  print(f"{i} Like {fav_nums[i]}")

ivan Like 2
jack Like 3
ken Like 5

In [ ]:
glossary={
    "variable":"values u can change in a program",
    "string":"data type holding series of characters",
    "tuple":'immuatable list'
}

for i in glossary:
  print(f"{i}:")
  print(f"\t{glossary[i]}\n")

variable:
	values u can change in a program

string:
	data type holding series of characters

tuple:
	immuatable list

In [ ]:
print (glossary.get('verb','No verb defined'))
print (glossary.get('tuple','No verb defined'))

No verb defined
immuatable list

In [ ]:
#loop through the full Dictionary
for k,v in glossary.items():
  print(f"{k}:")
  print(f"\t{v}\n")

variable:
	values u can change in a program

string:
	data type holding series of characters

tuple:
	immuatable list

In [ ]:
glossary['python']='a programming language'
glossary['C++']='a low level programming language'

In [ ]:
for k,v in glossary.items():
  print(f"{k}:")
  print(f"\t{v}\n")

variable:
	values u can change in a program

string:
	data type holding series of characters

tuple:
	immuatable list

python:
	a programming language

C++:
	a low level programming language

In [ ]:
river_dict={
    'riverA':'canada',
    'riverAmazon':'usa',
    "nile":'egypt'
}
print('The rivers mentioned are: ')
for i in sorted(river_dict.keys()):
    print(i)

The rivers mentioned are:
nile
riverA
riverAmazon

In [ ]:
print('The countries mentioned are: ')
for i in sorted(river_dict.values()):
    print(i)

The countries mentioned are:
canada
egypt
usa

In [ ]:
for k,v in sorted(river_dict.items()):
    print(f"{k} pass through {v}")

nile pass through egypt
riverA pass through canada
riverAmazon pass through usa

In [ ]:
poll_result={
    "Kitty":"C",
    "Jason":"Python",
    "Howard":"VB",
    "Ivan":"Java"
}
list_require_result=["Ivan",'Jacky',"Jason","Monica","Kitty","Howard"]
for i in list_require_result:
  if i in (poll_result.keys()):
    print ("Thank you for polling")
  else:
    print (f"Please select your fav language, {i}")

Thank you for polling
Please select your fav language, Jacky
Thank you for polling
Please select your fav language, Monica
Thank you for polling
Thank you for polling

In [ ]:
peopleA={
    'lastname':'Chan',
    'firstname':'Ivan',
    'city':'HK'
}
peopleB={
    'lastname':'Li',
    'firstname':'Ken',
    'city':'USA'
}
peopleC={
    'lastname':'Ma',
    'firstname':'David',
    'city':'Mongolia'
}
people_list=[peopleA,peopleB,peopleC]
for p in people_list:
  print(f"Last name is : {p['lastname']}")
  print(f"First name is : {p['firstname']}")
  print(f"city is : {p['city']}")
  print('\n')

Last name is : Chan
First name is : Ivan
city is : HK


Last name is : Li
First name is : Ken
city is : USA


Last name is : Ma
First name is : David
city is : Mongolia

In [ ]:
petA={
    "type":"dog",
    "owner":'Ivan'
}
petB={
    "type":"cat",
    "owner":"kitty"
}
petC={
    "type":"rabbit",
    "owner":"Dave"
}
li_pet=[petA,petB,petC]
for p in li_pet:
  print(f'{p["type"]} belongs to {p["owner"]}')

dog belongs to Ivan
cat belongs to kitty
rabbit belongs to Dave

In [ ]:
fav_places={
    "kitty":["usa",'canada','egypt'],
    "anson":['china'],
    "ivan":['russia','germany']
}
for k,v in fav_places.items():
  print(f"{k} Like the following places")
  for country in v:
    print(f'\t {country}')

kitty Like the following places
	 usa
	 canada
	 egypt
anson Like the following places
	 china
ivan Like the following places
	 russia
	 germany

In [ ]:
fav_nums={
    "jacky":[1,3,5],
    "koe":[2,4],
    "Ivan":[1]
}
for k,v in fav_nums.items():
  print(f"{k} Like : ")
  for num in v:
    print(f"\t {num}")

jacky Like :
	 1
	 3
	 5
koe Like :
	 2
	 4
Ivan Like :
	 1

In [4]:

cities={
    "HKSAR":{
        "country":"China",
        "fact":"a sepcial adminstration region in China",
        "population":"700m"
    },
    "Tokyo": {
        "country": "Japan",
        "fact": "the capital city of Japan",
        "population": "14m"
    },
    "New York": {
        "country": "USA",
        "fact": "known as the Big Apple",
        "population": "8.4m"
    }
}
for city,cityInfo in cities.items():
  print (f"{city} is located in {cityInfo['country']}")

HKSAR is located in China
Tokyo is located in Japan
New York is located in USA

In [ ]:
prompt=input('Enter age:  ')
print(prompt)

Enter age:  42
42

In [ ]:
user_fav= input('What is your favourite car?')
print(f'Let me see if i can find you a {user_fav}')

What is your favourite car?Ferrari
Let me see if i can find you a Ferrari

In [ ]:
no_ppl= input ('How many priple are in your dinner group?')
no_ppl=int(no_ppl)

if no_ppl>8:
  print('you have to wait')
else:
  print('We have table for u')

How many priple are in your dinner group?1
We have table for u

In [ ]:
num= input('enter a number')
num=int(num)
if num%10==0:
  print('multiple of 10')
else:
  print('not multiple of 10')

enter a number40
multiple of 10

In [ ]:
topping=''
while topping != 'quit':
  topping= input('What topping u would like to add?')
  if(topping=='quit'):
    break
  else:
    print(f'adding {topping}')

What topping u would like to add?mushroom
adding mushroom
What topping u would like to add?nut
adding nut
What topping u would like to add?apple
adding apple
What topping u would like to add?quit

In [ ]:

while True:
  age= input('What is your age')
  if(age=='quit'):
    break
  age=int(age)
  if(age<3):
    print('free')
  elif age >=3 and age <12:
    print('10')
  elif age>=12:
    print('15')

What is your age313
15
What is your age4
10
What is your age1
free
What is your agequit

In [ ]:
sandwiches_to_do=["ham",'cheese','apple','chicken']
sandwiches_finished=[]
while sandwiches_to_do:
  finished=sandwiches_to_do.pop()
  sandwiches_finished.append(finished)
for f in sandwiches_finished:
  print(f'We have made u a {f} sandwich')

We have made u a chicken sandwich
We have made u a apple sandwich
We have made u a cheese sandwich
We have made u a ham sandwich

In [ ]:



sandwiches_to_do=["ham",'pastrami','cheese','apple','pastrami','chicken','pastrami']
sandwiches_finished=[]
print('we have run out of pastrami')
while 'pastrami' in  sandwiches_to_do:
  sandwiches_to_do.remove('pastrami')
while sandwiches_to_do:
  finished=sandwiches_to_do.pop()
  sandwiches_finished.append(finished)
for f in sandwiches_finished:
  print(f'We have made u a {f} sandwich')

we have run out of pastrami
We have made u a chicken sandwich
We have made u a apple sandwich
We have made u a cheese sandwich
We have made u a ham sandwich

In [ ]:
import builtins
input = builtins.input
poll_result=[]

ans=''
while  ans!= 'N':
  res={}
  name= input("what is ur name")

  place=input('where u want to go')

  res[name]=place

  poll_result.append(res)

  ans= input('Continue poll? Y/N')

for res in poll_result:
  for k,v in res.items():
    print(f"{k} want to go {v}")

what is ur nameJack
where u want to goUSA
Continue poll? Y/Ny
what is ur namePeter
where u want to goHK
Continue poll? Y/NY
what is ur nameMark
where u want to goDenmark
Continue poll? Y/NN
Jack want to go USA
Peter want to go HK
Mark want to go Denmark

In [ ]:
def displayDoing():
  print('I am learning how to write function in py')
displayDoing()

I am learning how to write function in py

In [ ]:
def displayFavBook(title):
  print(f"I like reading {title}")

displayFavBook("Frozen")

I like reading Frozen

In [ ]:
def printTee(size,message):
  print(f'Printing Tee with {size} Size and "{message}" asMessage')
printTee('M',"I love HK")
printTee(message="I eat pizza",size="L")

Printing Tee with M Size and "I love HK" asMessage
Printing Tee with L Size and "I eat pizza" asMessage

In [ ]:
def printTee(message,size="S"): #params with default must be placed after those without default value
  print(f'Printing Tee with {size} Size and "{message}" asMessage')
printTee("I love HK",'M')
printTee(message="I eat pizza")

Printing Tee with M Size and "I love HK" asMessage
Printing Tee with S Size and "I eat pizza" asMessage

In [ ]:
def describe_city(city,country="USA"):
  print(f"{city} is located in {country}")


describe_city("New York")
describe_city("HKSAR","China")
describe_city(country="France",city="Leon")

New York is located in USA
HKSAR is located in China
Leon is located in France

In [ ]:
def city_country(city,country):
  return f"{city}, {country}"

print(city_country('Santiago','Chile'))

Santiago, Chile

In [ ]:
def buildAlbum(title,artist,num_songs=None):
  album={}
  album['title']=title
  album['artist']=artist

  if (num_songs):
    album['num_songs']=num_songs


  return album

print(buildAlbum("Some Pop","Eunji"))

print(buildAlbum("Some Can","ABCJason",3))

{'title': 'Some Pop', 'artist': 'Eunji'}
{'title': 'Some Can', 'artist': 'ABCJason', 'num_songs': 3}

In [ ]:
while True:
  artistIn= input('What is artist name?')
  if artistIn=='q':
    break;
  titleIn= input('What is Title of album')
  if titleIn=='q':
    break
  print(buildAlbum(artist=artistIn,title=titleIn))

What is artist name?Eunji
What is Title of albumNonono
{'title': 'Nonono', 'artist': 'Eunji'}
What is artist name?blackpink\
What is Title of albumboombayah
{'title': 'boombayah', 'artist': 'blackpink\\'}
What is artist name?jacky chan
What is Title of albumgood world
{'title': 'good world', 'artist': 'jacky chan'}
What is artist name?q

In [ ]:
li_message = ['hello hk','My name is blue','I love red']
def printmessage(messages):
  for m in messages:
    print(m)
printmessage(li_message)

hello hk
My name is blue
I love red

In [ ]:
li_message = ['hello hk','My name is blue','I love red']
li_printed=[]
def printmessage(messages):
  while messages:
    msg=messages.pop()
    li_printed.append(msg)
    print(msg)

printmessage(li_message)


print(li_message)
print(li_printed)

I love red
My name is blue
hello hk
[]
['I love red', 'My name is blue', 'hello hk']

In [ ]:
li_message = ['hello hk','My name is blue','I love red']
li_printed=[]
def printmessage(messages):
  while messages:
    msg=messages.pop()
    li_printed.append(msg)
    print(msg)

printmessage(li_message[:])


print(li_message)
print(li_printed)

I love red
My name is blue
hello hk
['hello hk', 'My name is blue', 'I love red']
['I love red', 'My name is blue', 'hello hk']

In [ ]:
                                                                                             # *args - build tuple when passed
def make_sandwich(*ingredient):
  print('making sandwich with:')
  for i in ingredient:
    print(f"- {i}")
make_sandwich('ham')
make_sandwich('ham','cheese','pineapple')

making sandwich with:
- ham
making sandwich with:
- ham
- cheese
- pineapple

In [ ]:
# **kwargs - build  dictionary when passed
def build_person(first_name,last_name,**kwargs):
  kwargs['first_name']=first_name
  kwargs['last_name']=last_name
  return kwargs

print(build_person('tai man','chan'))
print(build_person('tai man','chan',hobbies='cycling',uni='standford'))

{'first_name': 'tai man', 'last_name': 'chan'}
{'hobbies': 'cycling', 'uni': 'standford', 'first_name': 'tai man', 'last_name': 'chan'}

In [ ]:
def build_car(brand,model,**kwargs):
  kwargs['brand']=brand
  kwargs['model']=model
  return kwargs
build_car('subaru','outback',color='black',tow_package=True)

{'color': 'black', 'tow_package': True, 'brand': 'subaru', 'model': 'outback'}

In [1]:
# import pizza as p
# p.makepizza()

# from pizza import make_pizza as mp
# make_pizza()